.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png');
    background-size:contain ;
    position: relative;
}
.hearder-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 5s;

}
.hearder-contents h2{
    font-size: max(4.5vw, 22px);
    color:white;
    font-weight: 500;
}
.hearder-contents p{
    font-size: 1vw;
    color: white;
    
}
.hearder-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1.2vw, 13px);
    border-radius: 50px;
}